<div class="wrapper">

    <section class="hero">
  
      <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
          <br>
          <br>
          <div class="row justify-content-center text-center">
            <div class="col-md-10 col-lg-6">
              <h1 class="display-5 text">Client Database</h1>
  
              <p class="lead text">Makes management easier.
                </p>
             
  
              <p class="lead">
                <a class="btn btn-primary" [routerLink]="['/clients']">View list</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  </div>