<h2 class="font-weight-bold">ClientApp</h2>
<p>
Please contact ClientApp by e-mail: <a href="mailto:Joris.opsommer@gmail.com?Subject=Contact" target="_top">Joris.Opsommer@gmail.com</a>.<br>
For support with our application, please contact <a href="mailto:Joris.opsommer.support@gmail.com?Subject=Support" target="_top">Joris.Opsommer.support@gmail.com</a>.<br>
</p>

<p>
<a href="https://www.facebook.com/joris.opsommer">Joris Opsommer</a><br>
<a href="https://goo.gl/maps/eXJp2jfgDqj">Eekbulk 38 9840 De Pinte</a><br>
<a href="tel:+32470807328">+32470807328</a>
</p>
