.form-group{
    padding-left: 2%;
    padding-top: 2%;
    width: 40%;
}
.form-group > button{
margin-top: 4%;
}
.flex{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    /* background-color: DodgerBlue; */
}
.flex > div {
width: 100%;
  }
 /* Scheiding tussen street name + number */
  .marginleft{
      margin-left: 2%;
  }
  .marginright{
    margin-right: 2%;
}